*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #239698;
}

body {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif;
}

.respo-width {
  max-width: 1233px;
  margin: 0 auto;
}

.top-header {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: var(--primary-color);
}

.top-header-middle-text{
    font-weight: 700;
}

.top-header-inner {
  display: flex;
  justify-content: space-between;
}

.search-bar{
    padding: 24px 0;
    position: sticky;
    top: 0;
}


.search-bar-inner{
    height: 49px;
    background-color: bisque;
}

.logo{
    width: 150px;
}
.search-bar-middle-btn{
  display: flex;
  
}

.search-bar-inner{
    display: flex;
    justify-content: space-between;
}